.gambaridx {
	width: 45px;
	height: 30px;
}
.gambar {
	width: 300px;
	height: 200px;
}
p, a, h1 {
	color: white;
	text-decoration: none;
}
body {
	background-color: black;
}
.a {
	color: black;
}
.b {
	font-size: 17px;
}